.new-page {
    height: 100%;
    margin-top: -10px;
    padding-bottom: 50px;
    background-color: white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.new-title{
    margin-top: 10%;
    padding-top: 30px;
    background-color: white;
}

.cards {
    max-width: 30%;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 9px gray;  
}

.cards img {
    width: 100%;
    max-height: 50%;
    border-radius: 10px 10px 0 0;
}

.cards h1 {
    font-size: 30px;
    margin: 20px 20px -10px 15px;
}

.cards p {
    font-size: 15px;
    margin: 20px 20px 15px 15px;
    text-align: justify;
}

.cards .image-card {
    width: 8%;
    display: flex;
    margin: 10px 15px 15px 15px;
}

.cards .button-card .edit-card{
    width: 50%;
    text-align: center;
    text-decoration: none;
    margin: 7px;
    margin-left: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.cards .button-card .delete-card{
    width: 50%;
    margin: 7px;
    text-align: center;
    text-decoration: none;
    margin-right: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.over-desc {
    height: 70px; 
    margin-top: -15px; 
}

@media only screen and (max-width: 800px){
    .new-page {
        display: flex;
        flex-direction: column;
    }

    .cards {
        max-width: 50%;
    }
}